.venv/
node_modules/
.turbo/
/api/.turbo
/be/.env
/be/.turbo
/fe/.env
/fe/next-env.d.ts
/fe/.next
/preprocessing/data
/preprocessing/raw
/preprocessing/yolov_env
/preprocessing/runs
/fe/192.168.100.52-key.pem
/fe/192.168.100.52.pem
/fe/server.ts